:root {
    --pri-color: #00767a;
}

html {
    margin-inline: 5rem;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid transparent;
    padding-inline: 5rem;
    margin-inline: -88px;
    box-shadow: 1px -6px 14px 0px black;
    overflow:hidden;
    font-weight: 900;
    height: 4rem;

    position: sticky;
    top: 0px;
    z-index: 3;

}

header input {
    transition: box-shadow .3s;
    border-radius: 14px;
    background-color: #00b7bd26;
    border: 1px solid rgba(0, 0, 0, 0.537);
    height: 1.3rem;
    padding-inline-start: 0.5rem;
    font-size: 15px;
    box-shadow: inset 4px 3px 5px 0px #00000036;

}

header input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px #00000036;
}

header label {
    position: relative;
    top: 0.1rem;
    margin-inline-end: .5rem;
}

header img {
    width: 34px;
    height: 2rem;
    transition: all .7s;
}

header .logo:hover {
    rotate: 360deg;
}

.nav-list {
    list-style: none;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    padding-left: 0;
}

.nav-list li {
    transition: all .3s;
    font-weight: 900;
}

.menu-icon {
    display: none;
}

.nav-list li:hover {
    color: var(--pri-color);
}

#logo {
    align-items: center;
    gap: .5rem;
}

header h1 {
    margin: 0;
    font-weight: 500;
    color: var(--pri-color);
    letter-spacing: 8px;
}

/* ==================================================== */


main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 100%;
    gap: 2rem;
}

.container-general {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

section {
    transition: all .3s;
    margin: 0;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 7px 9px 20px 0px #00000036;
}

section:hover {
    box-shadow: 20px 19px 20px 0px #00000036;
}

.song-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.song-info img {
    width: 100px;
    height: 100px;
    border-radius: 3rem;
}

.song-info span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section audio {
    width: 100%;
    margin-block: 1rem 0;
    border-radius: 35px;
    box-shadow: 7px 9px 20px 0px #00000036;
}

button {
    transition: all .2s;
    padding: 0.5rem 1rem;
    border-radius: 21px;
    border: none;
    font-size: 16px;
    background-color: var(--pri-color);
    color: white;
    margin-inline-end: 0.5rem;
    box-shadow: inset 5px 6px 7px 1px #00000036;
}
button:hover {
    box-shadow: inset 5px 6px 7px 20px #0000004d;
}
button:disabled {
    background-color: #5a6b6c;
}

/* =================================================== */

.container-side {
    position: sticky;
    top: 66px;
    height: max-content;
    padding-block-end: .1rem;
    border-bottom: 3px solid var(--pri-color);
}

.playlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    /* padding-top: 0;
    margin: 0.5rem; */
    border-bottom: 1px solid;
    transition: all .3s;
}

.playlist:hover {
    background-color: #00767a63;
}

.playlist span {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.playlist img {
    width: 75px;

    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px #3a625e99;
}


/* ============================================== */

footer {
    background-color: var(--pri-color);
    color: white;
    padding: 3rem 2rem;
    margin-top: 2rem;
    margin-inline: -88px;
}