@media only screen and (max-width: 1320px) {
    main ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 948px) {
    header input, header label{
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }

    main ul {
        grid-template-columns: 1fr;
    }

    main ul li {
        width: 100%;
    }

}

@media only screen and (max-width: 720px) {    
    html {
        margin-inline: 0;
    }

    body {
        margin: 0;
    }
    

    .nav-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    header, footer {
        padding-inline: 10%;
        margin: 0;
    }

    article {
        margin: 0rem 1rem;
    }

    .container-general {
        grid-template-columns: 1fr;
    }

    .container-side h3 {
        margin-inline-start: 1rem;
    }

    footer {
        margin-top: 1rem;
    }

    .play-list li {
        width: max-content;
    }

}
